* {
  box-sizing: border-box;
  padding: 0;
  /* margin; */
}

body {
  background-color: #0a192f;
  margin: 0;
  padding: 0;
  font-family: 'Monaco';
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

.header {
  display: flex;    
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  padding-bottom: 0;
  background-color: #0a192f;
  color: #8892b0;
}

.header h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  display: inline-block;
}

.header nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 5px;
  margin-right: 20px;
  font-size: 20px;
  color: #64ffda;

}

.header nav ul li { 
  display: inline-block;
  margin-left: 25px;
}

.hero-banner h2 {
  display: flex;
  justify-content: flex-end;
  margin: 60px;
  margin-bottom: 20px;
  background-color: #0a192f;
  color: #64ffda;
  font-size: 30px;
  float: right;
}

.hero-banner img{
  display: flex;
  justify-content: flex-end;
  margin: 60px;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 20px auto;
  margin-bottom: 20px;
  max-width: 270px;
  float: left;
 
}

.page-section {
  text-align: center;
  border-bottom: 2px solid #8892b0;
  width 500px;
  margin: 50px auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display:grid;
  align-content: center; 

}

#work img {
  margin: 0px 5%;
  padding: 10px;
  display: grid;
  grid-template-rows: 500px 500px 500px;
  grid-template-columns: 10fr 1fr 1fr;
  grid-template-areas:
  "horiseon horiseon horiseon"
  "hero portfolio1 portfolio2"  
  "portfolio1 portfolio2 portfolio3"
  "hero hero hero"
  ;
}

div {
  background-color: #0a192f;
}

a {
  color: #8892b0;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style-type: none;
  display: inline-block;
  scroll-behavior: smooth;
}

a:visited {
  color: #64ffda;
}

a:hover {
  color: #64ffda;
  text-decoration: underline;
}

p {
  display: block;
  font-size: 16px;
  color:#8892b0;
}

.page-wrapper {
  display: inline-block;
  padding: 50px;
  padding-right: 50px;
}

.page-wrapper img {
  display: inline-block;
  padding-right: 20px;
  margin: 20px auto; 
  max-width: 170px;
  display: grid;
  grid-template-columns: ;
  grid-template-rows: 100px 300px;
  
}

.page-section  {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #64ffda;
  padding-bottom: 30px;

}

.page-section h2 {
  flex: 0 0 200px;
  text-decoration: line-through;
}

.float-left {
  float: left;
  margin-right: 20px;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 30px;

}

h6 {
  margin: 0;
}

@media screen and (max-width:768px) {
  nav {
    flex: 0 0 100%;
  }
}
